name: .NET Debug Build and Test

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    env:
      Nuget_Config_Path: NuGet.config
      Artifact_Directory: ${{ github.workspace }}\artifacts\packages

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            8.0.x
            10.0.x

      - name: Remove local NuGet sources
        run: |
          dotnet nuget remove source local --configfile $env:Nuget_Config_Path
        continue-on-error: true
      - name: Configure Nuget Source
        run: |
          dotnet nuget update source github -s "https://nuget.pkg.github.com/xcaciv/index.json" -u xcaciv -p ${{ secrets.NUGET_PAT }} --store-password-in-clear-text --configfile $env:Nuget_Config_Path
          dotnet nuget add source "$env:Artifact_Directory" --name local-artifacts --configfile $env:Nuget_Config_Path

      - name: Run build script (UseNet08)
        shell: pwsh
        run: |
          ./build.ps1 -UseNet08 -LocalNuGetDirectory "$env:Artifact_Directory"

      - name: Upload packages
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: packages
          path: artifacts/packages